<!DOCTYPE html>
<!-- 
	The ad.html has a very specific format.

	Really there are two "ads" contained within this file.

	The first ad displays to participants who are browsing
	the Amazon Mechanical Turk site but have not yet accepted
	your hit.  

	The second part of the ad display after the person selected
	"Accept HIT" on the Amazon website.  This will reload the
	ad and will display a button which, when clicked, will pop
	open a new browser window pointed at your local psiTurk
	server (assuming it is running and accessible to the Internet).

	See comments throughout for hints

-->
<html>
	<head>
        <meta charset="utf-8" />
		<title>Psychology Experiment</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
		<link rel="Favicon" href="/static/madison.ico">

		<style type="text/css">
			/* these tyles need to be defined locally */
			body {
			    padding:0px;
			    margin: 0px;
			    background-color: white;
			    color: black;
			    font-weight: 300; 
			    font-size: 13pt;
			}

			/* ad.html  - the ad that people view first */
			#adlogo {
			    width: 140px;
			    padding: 2px;
			    border: 1px solid #ccc;
			    margin-right: 1em;
			}

            #container-not-an-ad { /* obtuse name because pesky ad-blocker extensions */
				background: white;
			    margin: 30px;
			}

			h1 {
				margin-top: 0px;
			}
		</style>
	</head>
	<body>
		<div id="container-not-an-ad" class="media">
			<div class="media-left pull-left" href="#">
						<!-- REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="{{ server_location }}/static/images/myuniversity.png" alt="Lab Logo" />
			</div>
			<div class="media-body">

							<!-- 
								If assignmentid is "ASSIGNMENT_ID_NOT_AVAILABLE"
								it means the participant has NOT accepted your hit. 
								This should display the typical advertisement about
								your experiment: who can participate, what the
								payment is, the time, etc...

							-->
							{% if assignmentid == "ASSIGNMENT_ID_NOT_AVAILABLE" %}

							    <h1>Call for participants</h1>
							    <p>
									The Cognitive Neuroscience Lab at University of Wisconsin-Madison is looking for online participants 
									for a psychology experiment. The task will take about 50 minutes and will pay $15.00.
							    </p>
							    
							    <p>This study has following requirements:</p>

								<ul>
									<li>You are at least 18 years old</li>
									<li>A laptop or desktop computer (Do not use phone or tablet)</li>
									<li>A Chrome browser.&nbsp;<strong>Firefox, Internet Explorer and Safari do not work!</strong></li>
									<li>A quiet place where you are not distracted or disturbed</li>
									<li>You need to always <strong>pay close attention</strong> to the task during this HIT</li>
									<li>You need to switch off your phone, messaging, skype, etc</li>
									<li>You need to close all music players and other tabs on your browser (to make sure response time measurement is accurate)</li>
									<li>You can only take this study once.<strong> DO NOT TAKE MORE THAN ONCE.</strong></li>
									<li>DO NOT use&nbsp;any form of paper to write down anything&nbsp;or any other tool to help you in the&nbsp;experiment</li>
								</ul>
								
								<p>Please feel free to contact us if&nbsp;you have any questions or concerns.</p>

								<p>Thank you for contributing to science!</p>

								<p>&nbsp;</p>

								<p>Principal Investigator: Professor Bradley Postle</p>

								<p>Researcher: Jiangang Shan</p>

								<p>University of Wisconsin-Madison</p>

								<p>The Cognitive Neuroscience Laboratory</p>

								<p>Email:&nbsp;postlelab@psych.wisc.edu</p>
								
							    <div class="alert alert-danger">
									<strong>This task can only be completed once.</strong> 
									If you have already completed this task before the system will not 
									allow you to run again. If this looks familiar please return the 
									HIT so someone else can participate.
							    </div>
							    <p>
								    Otherwise, please click the "Accept HIT" button on the Amazon site 
								    above to begin the task.
								</p>
							    

							{% else %}

								<!-- 
									OTHERWISE
									If assignmentid is NOT "ASSIGNMENT_ID_NOT_AVAILABLE"
									it means the participant has accepted your hit. 
									You should thus show them instructions to begin the 
									experiment ... usually a button to launch a new browser
									window pointed at your server.

									It is important you do not change the code for the
									openwindow() function below if you want you experiment
									to work.
								-->
							    <h1>Thank you for accepting this HIT!</h1>
							    <p>
							    	Please use Chrome to complete this HIT. Do NOT use Firefox, IE, Opera, or Safari. If you're using these kinds of browsers, you can exit this page now and reopen it with Chrome.
							    </p>
							    <p>
							    	By clicking the following URL link, you will be taken to the experiment,
							        including complete instructions and an informed consent agreement.
							    </p>
							    
							    <script type="text/javascript">
									function openwindow() {
							    		popup = window.open('{{ server_location }}/consent?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}','Popup','toolbar=no,location=no,directory=no, titlebar=no,status=no,scrollbars=1, menubar=no,resizable=no,height='+screen.height+', width='+screen.width+'');
										
							  		}
							  		
							  		 // Make the body go full screen.
							    </script>
							    <div class="alert alert-warning">
							    	<b>Warning</b>: Please disable pop-up blockers before continuing. After you click the button below, you will enter full screen. Please do NOT exit full screen mode or refresh the page until you submit the HIT. Doing so could make you unable to continue doing this HIT. 
							    </div>
							    
						    	<button type="button" class="btn btn-primary btn-lg" onClick="openwindow();">
								  Begin Experiment
								</button>


							{% endif %}
							<!-- 
								endif
							-->
			</div>
		</div>
	</body>
</html>
