<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <p>You finished the experiment!  Please fill out the following questionnaire. </p>

	<div class="wrap">
	  <h1 class="likert-header">PLEASE PROVIDE A RESPONSE TO ALL STATEMENTS. DO NOT SKIP ANY ITEMS.</h1>
	  <form action="">
	    <label class="statement">I prefer to do things with others rather than on my own.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="1" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="1" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="1" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="1" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="1" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I prefer to do things the same way over and over again.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="2" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="2" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="2" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="2" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="2" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I frequently get so strongly absorbed in one thing that I lose sight of other things.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="3" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="3" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="3" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="3" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="3" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I often notice small sounds when others do not.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="4" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="4" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="4" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="4" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="4" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I usually notice car number plates or similar strings of information.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="5" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="5" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="5" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="5" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="5" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">Other people frequently tell me that what I’ve said is impolite, even though I think it is polite.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="6" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="6" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="6" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="6" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="6" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">When I’m reading a story, I can easily imagine what the characters might look like.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="7" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="7" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="7" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="7" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="7" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I am fascinated by dates.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="8" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="8" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="8" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="8" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="8" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">In a social group, I can easily keep track of several different people’s conversations.
	</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="9" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="9" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="9" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="9" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="9" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find social situations easy.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="10" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="10" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="10" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="10" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="10" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I tend to notice details that others do not.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="11" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="11" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="11" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="11" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="11" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I would rather go to a library than a party.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="12" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="12" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="12" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="12" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="12" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find making up stories easy.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="13" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="13" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="13" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="13" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="13" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find myself drawn more strongly to people than to things.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="14" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="14" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="14" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="14" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="14" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I tend to have very strong interests which I get upset about if I can’t pursue.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="15" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="15" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="15" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="15" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="15" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I enjoy social chit-chat.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="16" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="16" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="16" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="16" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="16" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">When I talk, it isn’t always easy for others to get a word in edgeways.</label>
	    <ul class='likert'>
	      <<li>
	        <input type="radio" name="17" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="17" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="17" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="17" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="17" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I am fascinated by numbers.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="18" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="18" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="18" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="18" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="18" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">When I’m reading a story, I find it difficult to work out the characters’ intentions.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="19" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="19" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="19" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="19" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="19" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I don’t particularly enjoy reading fiction.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="20" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="20" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="20" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="20" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="20" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find it hard to make new friends.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="21" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="21" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="21" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="21" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="21" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I notice patterns in things all the time.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="22" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="22" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="22" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="22" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="22" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I would rather go to the theatre than a museum.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="23" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="23" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="23" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="23" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="23" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">It does not upset me if my daily routine is disturbed.</label>
	    <ul class='likert'>
	      <<li>
	        <input type="radio" name="24" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="24" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="24" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="24" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="24" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I frequently find that I don’t know how to keep a conversation going.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="25" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="25" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="25" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="25" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="25" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find it easy to “read between the lines” when someone is talking to me.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="26" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="26" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="26" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="26" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="26" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I prefer to do things with others rather than on my own.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="27" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="27" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="27" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="27" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="27" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I usually concentrate more on the whole picture, rather than the small details.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="28" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="28" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="28" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="28" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="28" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I am not very good at remembering phone numbers.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="29" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="29" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="29" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="29" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="29" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I don’t usually notice small changes in a situation, or a person’s appearance.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="30" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="30" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="30" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="30" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="30" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I know how to tell if someone listening to me is getting bored.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="31" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="31" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="31" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="31" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="31" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find it easy to do more than one thing at once.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="32" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="32" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="32" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="32" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="32" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">When I talk on the phone, I’m not sure when it’s my turn to speak.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="33" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="33" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="33" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="33" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="33" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I enjoy doing things spontaneously.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="34" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="34" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="34" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="34" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="34" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I am often the last to understand the point of a joke.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="35" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="35" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="35" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="35" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="35" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find it easy to work out what someone is thinking or feeling just by looking at their face.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="36" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="36" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="36" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="36" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="36" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">If there is an interruption, I can switch back to what I was doing very quickly.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="37" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="37" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="37" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="37" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="37" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I am good at social chit-chat.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="38" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="38" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="38" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="38" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="38" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">People often tell me that I keep going on and on about the same thing.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="39" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="39" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="39" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="39" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="39" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">When I was young, I used to enjoy playing games involving pretending with other children.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="40" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="40" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="40" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="40" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="40" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I like to collect information about categories of things (e.g. types of car, types of bird, types of train, types of plant, etc.).</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="41" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="41" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="41" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="41" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="41" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find it difficult to imagine what it would be like to be someone else.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="42" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="42" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="42" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="42" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="42" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I like to plan any activities I participate in carefully.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="43" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="43" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="43" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="43" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="43" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I enjoy social occasions.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="44" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="44" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="44" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="44" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="44" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find it difficult to work out people’s intentions.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="45" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="45" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="45" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="45" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="45" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">New situations make me anxious.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="46" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="46" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="46" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="46" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="46" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I enjoy meeting new people.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="47" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="47" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="47" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="47" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="47" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I am a good diplomat.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="48" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="48" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="48" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="48" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="48" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I am not very good at remembering people’s date of birth.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="49" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="49" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="49" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="49" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="49" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    <label class="statement">I find it very easy to play games with children that involve pretending.</label>
	    <ul class='likert'>
	      <li>
	        <input type="radio" name="50" value="1">
	        <label>Definitely agree</label>
	      </li>
	      <li>
	        <input type="radio" name="50" value="2">
	        <label>Slightly Agree</label>
	      </li>
	      <li>
	        <input type="radio" name="50" value="3">
	        <label>Slightly Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="50" value="4">
	        <label>Definitely Disagree</label>
	      </li>
	      <li>
	        <input type="radio" name="50" value="0">
	        <label>I prefer not to answer</label>
	      </li>
	    </ul>
	    

	  </form>

	            
           
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
