<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is your age? (please type in your answer) If you prefer not to answer, please leave it blank.
                </div>
                <div class="col-md-4">
                    <input id = "age" type = "number" name="age">
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is your gender?
                </div>
                <div class="col-md-4">
                    <select id="gender" name="gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Prefer not to answer">Prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is your ethic category?
                </div>
                <div class="col-md-4">
                    <select id="Ethnicity" name="Ethnicity">
                        <option value="Hispanic or Latino">Hispanic or Latino</option>
                        <option value="Not Hispanic or Latino">Not Hispanic or Latino</option>
                        <option value="Prefer not to answer">Prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    What is your racial category?
                </div>
                <div class="col-md-4">
                    <select id="Race" name="Race">
                        <option value="American Indian or Alaskan Native">American Indian or Alaskan Native</option>
                        <option value="Asian">Asian</option>
                        <option value="Black or African American">Black or African American</option>
                        <option value="Native Hawaiian or other Pacific Islander">Native Hawaiian or other Pacific Islander</option>
                        <option value="White">White</option>
                        <option value="Other or Unknown">Other or Unknown</option>
                        <option value="Prefer not to answer">Prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most engaged), please rate how <b>ENGAGING</b> you found the learning task:
                </div>
                <div class="col-md-4">
                    <select id="engagement" name="engagement">
                        <option value="10">10 - Very engaging</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not engaged</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found the learning task:
                </div>
                <div class="col-md-4">
                    <select id="difficulty" name="difficulty">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not difficult at all</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Did you use any strategy during the experiment? If yes, could you describe your strategy? (Please report honestly. It will not influence whether your assignemnt is approved.)
                </div>
                <div class="col-md-4">
                     <textarea id="strategy" name="strategy" cols="25" rows="6"></textarea> 
					 <br />
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Did you run into any issue/error during the experiment? If yes, please specify.
                </div>
                <div class="col-md-4">
                     <textarea id="error" name="error" cols="25" rows="6"></textarea> 
					 <br />
                </div>
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
